* {
  padding: 0;
  margin: 0;
}
button:hover {
  cursor: pointer;
}
section {
  margin-bottom: 40vh;
}
body {
  background-color: #f0f8ff;
}

.box-biru {
  height: 85vh;
  width: 99vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    112.9deg,
    #1E3A8A 0.98%, /* contrast dari biru pekat */
    rgba(74, 144, 226, 0.84) 165.36% /* biru calm */
  );
}
.hero {
  margin: 130px 0 0px 100px;
  width: 800px;
  color: rgb(242, 242, 242);
}
.hero h2 {
  font-size: 50px;
}
.hero h3 {
  font-weight: lighter;
  margin-bottom: 40px;
}
.flex-hero {
  display: flex;
}
.flex-hero button {
  border: none;
  padding: 15px 40px 15px 40px;
  color: #1E3A8A;
  font-size: 20px;
  font-weight: bold;
}
.bintik {
  position: absolute;
  left: 0%;
  right: 43.86%;
  top: 0%;
  bottom: 0px;
  z-index: -1;
  height: 100vh;
}
.kucing-kanan {
  position: absolute;
  left: 20;
  right: -8%;
  top: -12%;
  bottom: 0%;
  height: 150vh;
  z-index: 10;
}
.flex-hero button,
.masuk {
  transition: all 0.5s ease;
}
.flex-hero button:hover,
.masuk:hover {
  color: #122152;
}
